/*
Commen CSS
*/
body {font-family: 'Open Sans', sans-serif;color: #333333; font-size: 15px;line-height: 1.5em; margin: 0; padding: 0}
p{font-weight: 400; margin: 0 0 15px}
h1, h2, h3, h4, h5, h6{font-weight: 700; line-height: 1.5em; margin: 0 0 15px}
a{transition: 0.5s; text-decoration: none}
.content{ width: 1170px; margin:0 auto;}



/*
Top Header Area
*/
.top_header_area{background: #a88c95; padding: 18px 0; overflow: hidden;}
.top_header_area .inner_header {overflow: hidden;}
.top_header_area .social_area{ float: left; width: 50%;}
.top_header_area .social_area ul {margin: 0; padding:0; list-style: none; text-align: left;}
.top_header_area .social_area ul li{ display: inline-block; margin-left: 5px;} 
.top_header_area .social_area ul li a {background-color: #d2d2d2; color: #6a3144; width: 35px; height: 28px; display: block; text-align: center; padding-top: 5px; border-radius: 50%;}
.top_header_area .social_area ul li a:hover {background: #6a3144; color: #fff;}
.top_header_area .search_area{ float: right; width: 50%;}
.top_header_area .search_area input form {text-align: right; float: right;}
.top_header_area .search_area input[type="text"] { background: #fff; border: 0; border-radius: 5px 0px px 5px; padding: 10px; font-weight: 600; font-size: 14px; width: 220px; float: left;}
.top_header_area .search_area input[type="submit"] {background: #97455f; color: #fff; padding: 10px; border: 0; border-radius: 5px; font-weight: 600; font-size: 14px;width: 80px; float: left; cursor: pointer; transition: 0.5s;}
.top_header_area .search_area input[type="submit"]:hover{ background:  #6a3144; color: #fff;}

/*
logo Area
*/
.logo_area{width: 220px; max-width: 100%; margin: 25px auto; text-align: center;}

/* main menu */
.main_menu{background: #97455f;height: 53px;}
.main_menu ul{margin: 0; padding: 0; list-style: none; text-align:center;}
.main_menu ul li{display: inline-block; margin: 0 5px;}
.main_menu ul li a{color: #fff; font-size: 14px; font-weight: 600; text-transform: uppercase; display: block; padding: 15px 20px;}
.main_menu ul li a:hover{background: #6a3144}


/*
Slider
 */
 .slider_area{margin: 0; width: 100%; overflow: hidden;position: relative}
 .slider_area .bx-wrapper{border: 0; margin: 0}
 .slider_area .bx-controls {position: absolute;bottom: 10px;left: 0;width: 100%;z-index: 999999;height: 10px;}
 .slider_area .bx-pager{position: absolute;bottom: 40px;left: 0;width: 100%;z-index: 999999;height: 10px;}
 .slider_area .bx-wrapper .bx-pager.bx-default-pager a {border: 5px solid #6a3144;width: 30px;height: 30px;border-radius: 50%;background: none;display: block;margin: 0 10px;}
 .slider_area .bx-wrapper .bx-pager.bx-default-pager a.active{background: #6a3144}
 .slider_area .slider_images{}
 .slider_area .slider_images img{display: block; margin: 0; width: 100%; height: auto}


 /*
 welcome area */
 .welcome_area{background-color: #fff; width: 100%; overflow: hidden; padding: 50px 0;} 
 